<footer>
  <!-- Top Content -->
  <div class="top">
      <div class="left-content">
        <a href="/" class="logo-wrapper">
          <img
            src="{{ url_for('static', filename='assets/images/logo_dark.png') }}"
            alt="Suidata"
          />
          <span class="title">Suidata</span>
        </a>
      </div>
    
      <ul class="nav">
        <li class="nav-item">
            <a href="/">Home</a>
        </li>
        <li class="nav-item">
            <a href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a href="/data">Data</a>
        </li>
        <li class="nav-item">
            <a href="/map">Map</a>
        </li>
      </ul>
    
      <div class="right-content">
        <a href="/map" class="button primary">Explore Map</a>
      </div>
  </div>

  <div class="bottom">
    Copyright &copy; 2024. Suidata
  </div>
</footer>
