.navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 4.5em;
  min-width: 100dvw;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2em;
  border-bottom: 1px solid var(--gray-300);
  z-index: 999;
}

/* Left Content */
.navbar .left-content {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.navbar .left-content .logo-wrapper {
  display: flex;
  align-items: center;
}

.navbar .left-content .title {
  margin-top: 0.2em;
  font-weight: 600;
  font-family: "League Spartan", "Inter", "sans-serif";
  font-size: 1.2rem;
}

/* Right Content */
.navbar .right-content {
  display: flex;
  align-items: center;
  justify-content: end;
}

.navbar .right-content #nav-items {
  position: fixed;
  top: 4.5em;
  left: 0;
  right: 0;
  min-width: 100vw;
  min-height: calc(100vh - 4.5em);
  display: none;
  flex-direction: column;
  z-index: 999;
}

.navbar .right-content #nav-items.active {
  display: flex;
}

.navbar .right-content #nav-items .nav-item {
  padding: 1em;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  color: var(--gray-600);
  transition: all 0.3s ease;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.navbar .right-content #nav-items .nav-item:hover {
  color: var(--sky-700);
  border-bottom: 2px solid var(--sky-700);
}

.navbar .right-content #nav-items .actions {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .navbar .right-content .nav-items .nav-item::after {
  content: "";
  height: 2px;
  background-color: var(--sky-300);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  min-width: 1em;
} */

.navbar .right-content .nav-items #menu-btn {
  display: none;
}

@media (min-width: 728px) {
  .navbar .right-content #nav-items {
    position: static;
    min-width: auto;
    min-height: auto;
    display: flex;
    flex-direction: row;
  }

  .navbar .right-content #menu-btn {
    display: none;
  }
}
