.map-container {
  /* padding: 1em 2.2em 1em 1.2em; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: relative;
  /* max-height: 100vh; */
}

.map-container #map {
  min-height: calc(100vh - 5.5em);
  z-index: 1;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
}

.map-shadows {
  background: rgba(255, 255, 255, 0.8);
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
}

.legend {
  padding: 0.6em 1em;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* Slider */
.silder-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  margin: 1em 5em;
  display: flex;
}

#year-slider {
  flex: 1;
  min-width: 100%;
}

/* Data Column */
.data-column {
  min-width: 14em;
  padding: 0.8em;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid var(--gray-100);
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  border-radius: 0.4em;
}

.data-column h1,
.data-column h2 {
  color: var(--gray-500);
  font-weight: 600;
}

.data-column h2 {
  font-size: 0.8rem;
}

.data-column header {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.data-column header .title {
  font-size: 1rem;
}

.data-column header .value {
  font-size: 2rem;
  font-weight: 500;
}

.data-column .content {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.data-column .content section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.data-column .content section .group {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.data-column .content section .group .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-column .content section .group .detail span {
  font-size: 0.8rem;
  color: var(--gray-700);
}

.data-column .content section .group .bar {
  min-height: 0.6em;
  background-color: var(--gray-200);
  min-width: 100%;
}

.data-column .content section .group .bar .percentage {
  min-height: inherit;
  background-color: var(--sky-400);
}

.data-column .bar-graphs {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.data-column .bar-graphs .group {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.data-column .bar-graphs .group .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-column .bar-graphs .group .detail span {
  font-size: 0.9rem;
  color: var(--gray-700);
  font-weight: 600;
}

.data-column .bar-graphs .group .bar {
  min-height: 1em;
  background-color: var(--gray-200);
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.2em;
}

.data-column .bar-graphs .group .value-group {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.dashboard-container
  .content
  .right-content
  .bar-graphs
  .group
  .value-group
  .value {
  font-size: 0.8rem;
}

.dashboard-container
  .content
  .right-content
  .bar-graphs
  .group
  .bar
  .percentage-display {
  font-size: 0.9rem;
  color: var(--gray-700);
}

.dashboard-container
  .content
  .right-content
  .bar-graphs
  .group
  .bar
  .percentage {
  min-height: inherit;
  background-color: var(--sky-400);
}
