<div class="w-full bg-white rounded-lg shadow dark:bg-zinc-800 p-4 md:p-6">
  <div class="flex justify-between items-start w-full">
    <div class="flex-col items-center">
      <div class="flex items-center mb-1">
        <h5
          class="text-xl font-semibold leading-none text-red-600 dark:text-white me-1"
        >
          Total Mortality Rate by Age Groups
        </h5>
        <svg
          data-popover-target="chart-info"
          data-popover-placement="bottom"
          class="w-3.5 h-3.5 text-zinc-500 dark:text-zinc-400 hover:text-zinc-900 dark:hover:text-white cursor-pointer ms-1"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"
          />
        </svg>
        <div
          data-popover
          id="chart-info"
          role="tooltip"
          class="absolute z-10 invisible inline-block text-sm text-zinc-500 transition-opacity duration-300 bg-white border border-zinc-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-zinc-800 dark:border-zinc-600 dark:text-zinc-400"
        >
          <div class="p-3 space-y-2">
            <h3 class="font-semibold text-zinc-900 dark:text-white">
              Distribution of Total Mortality Rate By Age Groups
            </h3>
            <p>
              This graph depicts the total mortality rate by age groups over the
              course of 1970 to 2016.
            </p>
          </div>
          <div data-popper-arrow></div>
        </div>
      </div>
    </div>
    <div class="hidden justify-end items-center">
      <div class="flex flex-1">
        <button
          id="dropdownDefaultButton"
          data-dropdown-toggle="lastDaysdropdown"
          data-dropdown-placement="bottom"
          class="text-sm font-medium text-zinc-500 dark:text-zinc-400 hover:text-zinc-900 text-center inline-flex items-center dark:hover:text-white whitespace-nowrap"
          type="button"
        >
          2023-2024
          <svg
            class="w-2.5 m-2.5 ms-1.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"
            />
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div
          id="lastDaysdropdown"
          class="z-10 hidden bg-white divide-y divide-zinc-100 rounded-lg shadow w-44 dark:bg-zinc-700"
        >
          <ul
            class="py-2 text-sm text-zinc-700 dark:text-zinc-200"
            aria-labelledby="dropdownDefaultButton"
          >
            <li>
              <a
                href="#"
                class="block px-4 py-2 hover:bg-zinc-100 dark:hover:bg-zinc-600 dark:hover:text-white"
                >2023-2024</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block px-4 py-2 hover:bg-zinc-100 dark:hover:bg-zinc-600 dark:hover:text-white"
                >2022-2023</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block px-4 py-2 hover:bg-zinc-100 dark:hover:bg-zinc-600 dark:hover:text-white"
                >2021-2022</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block px-4 py-2 hover:bg-zinc-100 dark:hover:bg-zinc-600 dark:hover:text-white"
                >2020-2021</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block px-4 py-2 hover:bg-zinc-100 dark:hover:bg-zinc-600 dark:hover:text-white"
                >2019-2020</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Line Chart -->
  <div class="py-6" id="pie-chart"></div>
</div>
