{% extends 'index.html' %} {% block content %}

<div class="xl:max-w-9xl mx-auto mt-16">
  <div
    class="grid grid-cols-1 justify-center items-stretch text-center gap-y-8"
  >
    <div class="w-full flex justify-center">
      <img
        src="{{ url_for('static', filename='assets/images/about_img.svg') }}"
        alt="Ribbon"
        class="object-fit w-[30em]"
      />
    </div>
    <div class="w-full flex justify-center">
      <div class="w-9/12 p-4 space-y-4">
        <h1 class="text-red-500 text-3xl">What is this page about?</h1>
        <p class="text-zinc-700 text-lg">
          A final data visualization project in fulfillment for the requirements
          of COMPSCI E3 - Professional Elective. The objective is to read,
          preprocess and visualize a dataset.
        </p>
        <p class="text-zinc-700 text-lg">
          <em class="text-lg">Dataset:</em> Szamil. (2018).
          <i class="text-lg">WHO Suicide Statistics</i>, v1.0. Retrieved May 10,
          2024, from
          <a
            href="https://www.kaggle.com/datasets/szamil/who-suicide-statistics"
            class="hover:underline text-lg text-blue-500"
            >https://www.kaggle.com/datasets/szamil/who-suicide-statistics</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
