{% extends 'index.html' %} {% block content%}

<main class="about-container">
  <!-- Hero Section -->
  <section class="hero">
    <div class="wrapper">
      <img src="static/assets/images/world.png" class="world-img" alt="" />

      <header>
        <h1 class="title main">
          A Data-Driven Journey Through Four Decades of Global Suicide
        </h1>
        <div class="description">
          <p>
            Discover interactive charts, maps, and filterable data to explore
            trends in suicide mortality across countries, age groups, and
            genders, all based on the comprehensive WHO Suicide Statistics
            dataset from
            <a
              href="https://www.kaggle.com/datasets/szamil/who-suicide-statistics"
              >Kaggle.</a
            >
          </p>
        </div>
      </header>
    </div>
  </section>

  <!-- About Section -->
  <section class="about">
    <h2 class="title">
      Data Visualization and Analysis of WHO Suicide Statistics
    </h2>
    <p class="description">
      Welcome to a course project requirement in fulfillment of CSE3 Analytics
      Programming. This data visualization project utilizes the WHO Suicide
      Statistics dataset, spanning from 1979 to 2016, to visualize and analyze
      suicide mortality across countries, age groups, and genders.
    </p>
  </section>

  <section class="scope">
    <img src="static/assets/images/south_america.png" class="left-img" alt="" />
    <div class="content">
      <h2 class="title">Scope and Limtations</h2>
      <p class="description">
        While the WHO dataset is a valuable resource, it's important to
        acknowledge its limitations. Not all countries are included, and data
        availability and quality vary across countries and time periods.
        Additionally, underreporting of suicides is a known issue. We strive to
        be transparent with viewers about these data limitations and encourage
        interpretations of our visualizations with these caveats in mind.
      </p>
    </div>
  </section>

  <section class="mission">
    <header>
      <h2 class="title">
        Data speaks louder than words, know the ins and outs of suicide, a
        leading cause of early mortality
      </h2>
    </header>
    <div class="content">
      <div class="column">
        <div class="card inform">
          <p class="description">
            We are to <b class="bold">inform</b> the often-hidden realities of
            suicide through visualization.
          </p>
          <div class="visual">
            <img
              src="static/assets/images/informed_decision.png"
              class="visual"
              alt=""
            />
          </div>
        </div>
        <div class="card inspire">
          <p class="description">
            To <b class="bold">inspire</b> understanding, empathy and action for
            prevention.
          </p>
          <div class="visual">
            <img
              src="static/assets/images/conference_speaker.png"
              class="visual"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card analyze">
          <p class="description">
            To <b class="bold">analyze</b> hidden patterns and evaluate
            prevention strategies for people.
          </p>
          <div class="visual">
            <img src="static/assets/images/buffer.png" class="visual" alt="" />
          </div>
        </div>
        <div class="card awareness">
          <p class="description">
            ..and especially to <b class="bold">spread</b> awareness to prove
            that we care.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="features">
    <header>
      <h2 class="title">Key Features</h2>
    </header>
    <div class="content">
      <div class="card">
        <span class="number">01</span>
        <p class="description">
          Explore trends in suicide rates over time, comparing different
          countries, age groups, and sex.
        </p>
      </div>
      <div class="card">
        <span class="number">02</span>
        <p class="description">
          Visualize the geographical distribution of suicide rates across the
          globe, highlighting regional disparities.
        </p>
      </div>
      <div class="card">
        <span class="number">03</span>
        <p class="description">
          Delve deeper into specific data points and uncover hidden patterns.
        </p>
      </div>
    </div>
  </section>

  <section class="cta">
    <div class="wrapper">
      <header>
        <h2 class="title">Uncover The Stores Behind Numbers</h2>
        <p class="description">
          Ready to explore the data and uncover the stories behind the numbers?
          Our interactive map and dashboard allow you to delve into the global
          landscape of suicide, revealing trends, patterns, and insights that
          can help us better understand and address this critical issue.
        </p>
      </header>
      <div class="actions">
        <a href="" class="button primary">View Dashboard</a>
        <a href="" class="button secondary">Explore Map</a>
      </div>
    </div>
  </section>
</main>

{% endblock %}
