{% extends 'index.html' %} {% block content%}

<main class="dashboard-container">
  <header>
    <h1 class="title">Dashboard</h1>
    <div class="actions">
      <select
        id="year-select"
        class="button outline"
        aria-label="Select a year between 1985 and 2006"
      >
        <option value="" checked>Filter by: All</option>
        <option value="1985">Filter by: 1985</option>
        <option value="1986">Filter by: 1986</option>
        <option value="1987">Filter by: 1987</option>
        <option value="1988">Filter by: 1988</option>
        <option value="1989">Filter by: 1989</option>
        <option value="1990">Filter by: 1990</option>
        <option value="1991">Filter by: 1991</option>
        <option value="1992">Filter by: 1992</option>
        <option value="1993">Filter by: 1993</option>
        <option value="1994">Filter by: 1994</option>
        <option value="1995">Filter by: 1995</option>
        <option value="1996">Filter by: 1996</option>
        <option value="1997">Filter by: 1997</option>
        <option value="1998">Filter by: 1998</option>
        <option value="1999">Filter by: 1999</option>
        <option value="2000">Filter by: 2000</option>
        <option value="2001">Filter by: 2001</option>
        <option value="2002">Filter by: 2002</option>
        <option value="2003">Filter by: 2003</option>
        <option value="2004">Filter by: 2004</option>
        <option value="2005">Filter by: 2005</option>
        <option value="2006">Filter by: 2006</option>
        <option value="2007">Filter by: 2007</option>
        <option value="2008">Filter by: 2008</option>
        <option value="2009">Filter by: 2009</option>
        <option value="2010">Filter by: 2010</option>
        <option value="2012">Filter by: 2012</option>
        <option value="2013">Filter by: 2013</option>
        <option value="2014">Filter by: 2014</option>
        <option value="2015">Filter by: 2015</option>
        <option value="2016">Filter by: 2016</option>
      </select>
    </div>
  </header>
  <div class="content">
    <div class="left-content">
      <div class="summary">
        <header>
          <h2 class="name">Highest Mortality By Category</h2>
          <img src="/static/assets/images/icons/earth-americas-solid.svg" width="32" height="32" alt="">
        </header>
        <div class="bottom">
          <div class="data-row" id="data-row">
            <div class="column" id="year-column">
              <span class="number">1,117,800</span>
              <div class="group">
                <img src="/static/assets/images/icons/clock-regular.svg" width="16" height="16" alt="">
                <span class="value">1980</span>
              </div>
            </div>
            <div class="column" id="sex-column">
              <span class="number">755,240</span>
              <div class="group">
                <img src="/static/assets/images/icons/venus-mars-solid.svg" width="16" height="16" alt="">
                <span class="value">Males</span>
              </div>
            </div>
            <div class="column" id="age-column">
              <span class="number">377,188</span>
              <div class="group">
                <img src="/static/assets/images/icons/user-group-solid.svg" width="16" height="16" alt="">
                <span class="value">15-24 years</span>
              </div>
            </div>
            <div class="column" id="country-column">
              <span class="number">252,123</span>
              <div class="group">
                <img src="/static/assets/images/icons/flag-regular.svg" width="16" height="16" alt="">
                <span class="value">Brazil</span>
              </div>
            </div>
          </div>
          <div class="filter">
            <span class="name">All Countries</span>
            <span class="title">Selected Countries</span>
          </div>
        </div>
      </div>
      <div class="row-graphs donut">
        <div class="wrapper" id="sex-donut">
          <header>
            <div class="group">
              <span class="title-group">Sex</span>
              <span class="title">Total Sex Distribution</span>
            </div>
            <img src="/static/assets/images/icons/venus-mars-solid.svg" width="32" height="32" alt="">
          </header>
          <div id="sex-chart"></div>
        </div>
        <div class="wrapper" id="age-donut">
          <header>
            <div class="group">
              <span class="title-group">Age Groups</span>
              <span class="title">Total Age Distribution</span>
            </div>
            <img src="/static/assets/images/icons/user-group-solid.svg" width="32" height="32" alt="">
          </header>
          <div id="age-chart"></div>
        </div>
      </div>
      <div class="row-graphs">
        <div class="wrapper">
          <header>
            <div class="group">
              <span class="single-title">Mortality Rate Over The Years</span>
            </div>
          </header>
          <div id="line-chart"></div>
        </div>
      </div>
    </div>
    <div class="right-content">
      <header>
        <!-- <i class="fa-regular fa-circle-question"></i> -->
        <span class="title">World Map</span>
      </header>
      <div class="map-wrapper">
        <div id="dashboardMap"></div>
      </div>
      <header>
        <h2 class="title">Highest Mortality Rates: Top 10 Countries</h2>
      </header>
      <div class="bar-graphs" id="mortality-countries">
        <div class="group">
          <div class="detail">
            <span class="name">Brazil</span>
            <span class="value">1576203</span>
          </div>
          <div class="bar" id="">
            <div class="percentage"></div>
          </div>
        </div>
        <div class="group">
          <div class="detail">
            <span class="name">Brazil</span>
            <span class="value">1576203</span>
          </div>
          <div class="bar" id="">
            <div class="percentage"></div>
          </div>
        </div>
        <div class="group">
          <div class="detail">
            <span class="name">Brazil</span>
            <span class="value">1576203</span>
          </div>
          <div class="bar" id="">
            <div class="percentage"></div>
          </div>
        </div>
        <div class="group">
          <div class="detail">
            <span class="name">Brazil</span>
            <span class="value">1576203</span>
          </div>
          <div class="bar" id="">
            <div class="percentage"></div>
          </div>
        </div>
        <div class="group">
          <div class="detail">
            <span class="name">Brazil</span>
            <span class="value">1576203</span>
          </div>
          <div class="bar" id="">
            <div class="percentage"></div>
          </div>
        </div>
        <div class="group">
          <div class="detail">
            <span class="name">Brazil</span>
            <span class="value">1576203</span>
          </div>
          <div class="bar" id="">
            <div class="percentage"></div>
          </div>
        </div>
        <div class="group">
          <div class="detail">
            <span class="name">Brazil</span>
            <span class="value">1576203</span>
          </div>
          <div class="bar" id="">
            <div class="percentage"></div>
          </div>
        </div>
        <div class="group">
          <div class="detail">
            <span class="name">Brazil</span>
            <span class="value">1576203</span>
          </div>
          <div class="bar" id="">
            <div class="percentage"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
