{% extends 'index.html' %} {% block content%}


<main class="data-container">
  <header>
    <div class="left-content">
      <h1>WHO Suicide Statistics 1979-2016</h1>
      <p class="description">
        Aggregated from Kaggle, this dataset includes global suicide statistics
        reported by the WHO from 1979 to 2016.
      </p>
    </div>
  </header>
  <div class="content">
    <div class="filters-container">
      <div class="search-container" id="search-container">
        <input
          type="text"
          name="search"
          placeholder="Search..."
          id="search-input"
        />
      </div>
      <div class="actions">
        <button class="outline">Export</button>
      </div>
    </div>
    <table class="table-container" id="table-data">
      <thead id="table-header">
        <tr>
          <th class="header" scope="col" id="name">
            <div class="group">
              <img
                src="static/assets/images/icons/flag.svg"
                alt="Country flag"
              />
              <p class="title">Country</p>
            </div>
            <img
              src="static/assets/images/icons/chevron-selector-vertical.svg"
              alt="Sort"
            />
          </th>
          <th class="header" scope="col" id="year">
            <div class="group">
              <img
                src="static/assets/images/icons/clock.svg"
                alt="Clock icon"
              />
              <p class="title">Year</p>
            </div>
            <img
              src="static/assets/images/icons/chevron-selector-vertical.svg"
              alt="Sort"
            />
          </th>
          <th class="header" scope="col" id="male">
            <div class="group">
              <img
                src="static/assets/images/icons/group.svg"
                alt="Group icon"
              />
              <p class="title">Male</p>
            </div>
            <img
              src="static/assets/images/icons/chevron-selector-vertical.svg"
              alt="Sort"
            />
          </th>
          <th class="header" scope="col" id="female">
            <div class="group">
              <img
                src="static/assets/images/icons/group.svg"
                alt="Group icon"
              />
              <p class="title">Female</p>
            </div>
            <img
              src="static/assets/images/icons/chevron-selector-vertical.svg"
              alt="Sort"
            />
          </th>
          <th class="header" scope="col" id="5-14 years">
            <div class="group">
              <img
                src="static/assets/images/icons/group.svg"
                alt="Group icon"
              />
              <p class="title">5-14 Years</p>
            </div>
            <img
              src="static/assets/images/icons/chevron-selector-vertical.svg"
              alt="Sort"
            />
          </th>
          <th class="header" scope="col" id="15-24 years">
            <div class="group">
              <img
                src="static/assets/images/icons/group.svg"
                alt="Group icon"
              />
              <p class="title">15-24 Years</p>
            </div>
            <img
              src="static/assets/images/icons/chevron-selector-vertical.svg"
              alt="Sort"
            />
          </th>
          <th class="header" scope="col" id="25-34 years">
            <div class="group">
              <img
                src="static/assets/images/icons/group.svg"
                alt="Group icon"
              />
              <p class="title">25-34 Years</p>
            </div>
            <img
              src="static/assets/images/icons/chevron-selector-vertical.svg"
              alt="Sort"
            />
          </th>
          <th class="header" scope="col" id="35-54 years">
            <div class="group">
              <img
                src="static/assets/images/icons/group.svg"
                alt="Group icon"
              />
              <p class="title">35-54 Years</p>
            </div>
            <img
              src="static/assets/images/icons/chevron-selector-vertical.svg"
              alt="Sort"
            />
          </th>
          <th class="header" scope="col" id="55-74 years">
            <div class="group">
              <img
                src="static/assets/images/icons/group.svg"
                alt="Group icon"
              />
              <p class="title">55-74 Years</p>
            </div>
            <img
              src="static/assets/images/icons/chevron-selector-vertical.svg"
              alt="Sort"
            />
          </th>
          <th class="header" scope="col" id="75+ years">
            <div class="group">
              <img
                src="static/assets/images/icons/group.svg"
                alt="Group icon"
              />
              <p class="title">75+ Years</p>
            </div>
            <img
              src="static/assets/images/icons/chevron-selector-vertical.svg"
              alt="Sort"
            />
          </th>
        </tr>
      </thead>
      <tbody id="table-body">
        <tr class="row-data">
          <td class="data">
            <div class="group">
              <img src="static/assets/images/flags/united_kingdom.png" alt="" />
              United Kingdom
            </div>
          </td>
          <td class="data">All</td>
          <td class="data">66446</td>
          <td class="data">19514</td>
          <td class="data">168</td>
          <td class="data">8674</td>
          <td class="data">16384</td>
          <td class="data">36444</td>
          <td class="data">17822</td>
          <td class="data">6504</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination">
    <div class="actions">
      <button id="prev-button">Previous</button>
      <button id="next-button">Next</button>
    </div>
  </div>
</main>

{% endblock %}
