{% extends 'index.html' %} {% block content%}

<div class="data-column">
  <header>
    <h1 class="title">Suicide Count</h1>
    <span class="value">1,175,258</span>
  </header>
  <div class="content">
    <section class="sex">
      <h2>Sex</h2>
      <div class="group">
        <div class="detail">
          <span class="name">Male</span>
          <span class="value">788,093</span>
        </div>
        <div class="bar" id="male"></div>
      </div>
      <div class="group">
        <div class="detail">
          <span class="name">Female</span>
          <span class="value">388,195</span>
        </div>
        <div class="bar" id="female"></div>
      </div>
    </section>
    <section class="age">
      <h2>Age Groups</h2>
      <div class="group">
        <div class="detail">
          <span class="name">5-14 Years</span>
          <span class="value">130,695</span>
        </div>
        <div class="bar" id="5-14years"></div>
      </div>
      <div class="group">
        <div class="detail">
          <span class="name">15-24 Years</span>
          <span class="value">392,087</span>
        </div>
        <div class="bar" id="15-24years"></div>
      </div>
      <div class="group">
        <div class="detail">
          <span class="name">25-34 Years</span>
          <span class="value">261,390</span>
        </div>
        <div class="bar" id="25-34years"></div>
      </div>
      <div class="group">
        <div class="detail">
          <span class="name">35-54 Years</span>
          <span class="value">261,390</span>
        </div>
        <div class="bar" id="35-54years"></div>
      </div>
      <div class="group">
        <div class="detail">
          <span class="name">75+years</span>
          <span class="value">130,695</span>
        </div>
        <div class="bar" id="75years"></div>
      </div>
    </section>
  </div>
</div>
<main class="data-container">
  <header>
    <div class="left-content">
      <h1>WHO Suicide Statistics 1979-2016</h1>
      <p class="description">
        Aggregated from Kaggle, this dataset includes global suicide statistics
        reported by the WHO from 1979 to 2016.
      </p>
    </div>
  </header>
  <div class="content">
    <div class="filters-container">
      <div class="search-container" id="search-container">
        <input
          type="text"
          name="search"
          placeholder="Search..."
          id="search-input"
        />
      </div>
      <div class="actions">
        <button class="outline">Export</button>
      </div>
    </div>
    <table class="table-container" id="table-data">
      <thead id="table-header">
        <tr>
          <th class="header" scope="col" id="name">
            <div class="group">
              <img
                src="static/assets/images/icons/flag.svg"
                alt="Country flag"
              />
              <p class="title">Country</p>
            </div>
            <img
              src="static/assets/images/icons/chevron-selector-vertical.svg"
              alt="Sort"
            />
          </th>
          <th class="header" scope="col" id="year">
            <div class="group">
              <img
                src="static/assets/images/icons/clock.svg"
                alt="Clock icon"
              />
              <p class="title">Year</p>
            </div>
            <img
              src="static/assets/images/icons/chevron-selector-vertical.svg"
              alt="Sort"
            />
          </th>
          <th class="header" scope="col" id="sex">
            <div class="group">
              <img
                src="static/assets/images/icons/group.svg"
                alt="Group icon"
              />
              <p class="title">Sex</p>
            </div>
            <img
              src="static/assets/images/icons/chevron-selector-vertical.svg"
              alt="Sort"
            />
          </th>
          <th class="header" scope="col" id="age">
            <div class="group">
              <img
                src="static/assets/images/icons/group.svg"
                alt="Group icon"
              />
              <p class="title">Age Group</p>
            </div>
            <img
              src="static/assets/images/icons/chevron-selector-vertical.svg"
              alt="Sort"
            />
          </th>
          <th class="header" scope="col" id="mortality">
            <div class="group">
              <img
                src="static/assets/images/icons/heart.svg"
                alt="Heart icon"
              />
              <p class="title">Suicide Count</p>
            </div>
            <img
              src="static/assets/images/icons/chevron-selector-vertical.svg"
              alt="Sort"
            />
          </th>
          <th class="header" scope="col" id="population">
            <div class="group">
              <img
                src="static/assets/images/icons/group.svg"
                alt="Group icon"
              />
              <p class="title">Population</p>
            </div>
            <img
              src="static/assets/images/icons/chevron-selector-vertical.svg"
              alt="Sort"
            />
          </th>
        </tr>
      </thead>
      <tbody id="table-body">
        <tr class="row-data">
          <td class="data">
            <div class="group">
              <img src="static/assets/images/flags/united_kingdom.png" alt="" />
              United Kingdom
            </div>
          </td>
          <td class="data">1979</td>
          <td class="data">Female</td>
          <td class="data">15-24 Years</td>
          <td class="data">119</td>
          <td class="data">4189200</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination">
    <div class="actions">
      <button id="prev-button">Previous</button>
      <button id="next-button">Next</button>
    </div>
  </div>
</main>

{% endblock %}
