<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title_page }}</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='assets/images/logo.png') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/common.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/layouts.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/map.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/about.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/data.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard.css') }}"
    />
    <!-- <link 
      rel="stylesheet" 
      href="{{ url_for('static', filename='leaflet/leaflet.css') }}"
      crossorigin=""
    />
    <link 
      rel="stylesheet" 
      href="{{ url_for('static', filename='leaflet/leaflet.js') }}"
      crossorigin=""
    /> -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body>
    <div class="container">
      {% include 'layouts/navbar.html' %} {% block content %} {% endblock %} {%
      include 'layouts/footer.html' %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script
      src="{{ url_for('static', filename='scripts/index.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='scripts/shared/eventHandlers.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='scripts/shared/menuToggle.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='scripts/data/data.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='scripts/data/filters.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='scripts/map/map.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='scripts/map/mapUtils.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='scripts/dashboard/dashboard.js') }}"
      type="module"
    ></script>
  </body>
</html>
