{% extends 'index.html' %} {% block content %}

<div class="border border-zinc-300 rounded h-full bg-zinc-50 relative">
  <div class="py-40 px-8 sm:px-12">
    <div class="absolute top-0 left-8 sm:left-12 bg-red-500 w-24 h-32"></div>
    <div class="absolute bottom-0 left-8 sm:left-12 bg-red-500 w-24 h-32"></div>
    <div class="space-y-6">
      <ul class="flex flex-col sm:flex-row gap-4 sm:items-center">
        <li class="text-red-500 font-semibold">Mental Health</li>
        <li class="hidden sm:flex">
          <div class="bg-red-500 rounded-full h-4 w-4"></div>
        </li>
        <li class="text-red-500 font-semibold">Mortality</li>
        <li class="hidden sm:flex">
          <div class="bg-red-500 rounded-full h-4 w-4"></div>
        </li>
        <li class="text-red-500 font-semibold">Awareness</li>
      </ul>

      <div class="space-y-4">
        <div class="w-8/12">
          <h1 class="text-5xl font-semibold text-zinc-700">
            World of Health Organization Mortality Rate Statistics Summary
          </h1>
        </div>
        <p class="font-medium text-lg">
          In the society, the progress of the nation is often measured in the
          economic welfare, but most overlook one of the most fundamental
          indicators of society well-being: mortality rates. This Mortality
          Rates Statistics summary provided by the World Health Organization
          dataset summarizes the state of the world's global health.
        </p>
      </div>

      <div class="space-y-4">
        <div class="flex-1 h-[35em] bg-white">
          {% include 'charts/line-chart.html' %}
        </div>
        <p class="text-sm font-medium">
          <b class="text-sm">Figure 1.</b> Mortality Rate from 1970s to 2016 of
          Both Sexes
        </p>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="space-y-4">
          <h2 class="text-lg font-semibold text-zinc-700">Mortality</h2>
          <div class="space-y-4">
            <p class="font-medium text-zinc-700">
              Mortality rates serve as a stark reminder of the fragility of
              human life. They reflect the number of deaths occurring within a
              population over a specific period, often expressed per 1,000 or
              100,000 individuals. While mortality rates can vary significantly
              across regions and demographics, they universally highlight the
              impact of diseases, accidents, and other factors on human
              longevity.
            </p>
            <p class="font-medium text-zinc-700">
              One particularly pressing concern highlighted by mortality rate
              statistics is the silent epidemic of mental health challenges.
              Every year, thousands of lives are lost to conditions such as
              depression, anxiety, and suicide, underscoring the urgent need for
              greater awareness and support for mental health initiatives. By
              exploring WHO mortality rate data, we can acknowledge the mental
              health issues and advocate for compassionate, evidence-based
              approaches to prevention and treatment.
            </p>
          </div>
        </div>
        <div class="space-y-4">
          <h2 class="text-md font-semibold text-zinc-700">
            Mortality Rate from 1970s to 2016 on both Sexes
          </h2>
          <p class="font-medium text-zinc-700">
            The figure titled "Mortality Rate from 1970s to 2016 on both Sexes"
            provides a visual representation of the total mortality rates for
            males and females from 1970 to 2016. With males accounting for
            800,086 deaths and females for 241,207 deaths over this period, the
            graph presents a striking depiction of the profound impact of
            mortality on human populations. The data underscores persistent
            sex-based disparities, with males consistently exhibiting higher
            mortality rates. The accompanying line graph, "Mortality Rate from
            1970s to 2016 on both Sexes," depicts a steady upward trend,
            highlighting ongoing challenges in addressing health threats. To
            mitigate these disparities and trends, efforts must prioritize
            health equity, preventive interventions, and collaborative research
            initiatives aimed at reducing mortality rates and improving
            population health globally.
          </p>
        </div>
      </div>

      <div class="bg-red-500 rounded relative w-full">
        <div class="p-4">
          <div class="absolute top-0 right-2 h-full">
            <img
              src="{{ url_for('static', filename='assets/images/quote.png') }}"
              alt=""
              class="h-full object-fit"
            />
          </div>
          <p class="font-base text-2xl text-white">
            Human beings are the most valuable resource on earth, and investing
            in their health and well-being is essential for a thriving economy.
            ~Ban Ki-moon
          </p>
        </div>
      </div>

      <div class="space-y-4">
        <div class="flex flex-col sm:flex-row gap-4">
          <div class="flex-1 space-y-4">
            <div class="bg-white">{% include 'charts/pie-chart.html' %}</div>
            <p class="text-sm font-medium">
              <b class="text-sm">Figure 1.</b> Mortality Rate from 1970s to 2016
              of Both Sexes
            </p>
            <p class="font-medium text-zinc-700">
              The pie chart above illustrates the distribution of mortality
              rates across different age groups. It vividly portrays the stark
              disparities in mortality rates across various stages of life.
              Notably, the age group "35-54 years" emerges as the segment with
              the highest mortality rate, comprising a significant portion of
              the total mortality burden. This underscores the critical need for
              targeted interventions and support systems for individuals within
              this age bracket. Conversely, the age groups "5-14 years" and "75+
              years" exhibit comparatively lower mortality rates, suggesting
              potential areas for focused preventive measures and healthcare
              interventions.
            </p>
          </div>
          <div class="flex-none sm:w-3/12">
            <p class="font-medium text-zinc-700">
              As based on the data, it becomes evident that mental health
              challenges are not just a personal struggle but a societal concern
              with far-reaching ramifications. The escalating mortality rates
              depicted in the line graph underscore the urgency of prioritizing
              mental health initiatives and destigmatizing discussions around
              psychological well-being. Meanwhile, the pie chart delineates
              age-specific vulnerabilities, highlighting critical junctures
              where intervention efforts can yield significant impact. By
              fostering a nuanced understanding of mortality trends and
              age-related disparities, this report serves as a call to action
              for policymakers, healthcare professionals, and communities
              worldwide to unite in their efforts to promote mental health
              awareness, cultivate supportive environments, and mitigate the
              devastating toll of mental illness on individuals and societies
              alike.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
